.ui-table{width:100%;font-size:12px;text-align:left;border:1px solid #DDD;border-collapse:collapse;}
.ui-table-split,.ui-table-hovered{background-color:#F9F9F9;}
.ui-table-bordered{border:1px solid #DDD;border-bottom:0;border-collapse:separate;*border-collapse:collapse;border-left:0;}.ui-table-bordered th,.ui-table-bordered td{border-left:1px solid #DDD;}
.ui-table-striped tbody>tr:nth-child(odd)>td,.ui-table-striped tbody>tr:nth-child(odd)>th{background-color:#F9F9F9;}
.ui-table-striped-even tbody>tr:nth-child(even)>td,.ui-table-striped-even tbody>tr:nth-child(even)>th{background-color:#F9F9F9;}
.ui-table-hover tbody tr:hover>td,.ui-table-hover tbody tr:hover>th{background-color:#F5F5F5;}
.ui-table tr{color:#808080;}
.ui-table thead tr{color:#666;}
.ui-table thead{color:#666;background-color:#F6F6F6;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#F2F2F2');background:-webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));background:-moz-linear-gradient(top, #f8f8f8, #f2f2f2);background:-o-linear-gradient(top, #f8f8f8, #f2f2f2);background:linear-gradient(top, #f8f8f8, #f2f2f2);}
.ui-table th{padding:7px 9px;border-bottom:1px solid #d9d9d9;text-align:left;}
.ui-table td{padding:4px 9px;border-bottom:1px solid #d9d9d9;}
.ui-table th{padding:4px 9px;}
.ui-table tfoot td{border-bottom:none;}
.ui-table-noborder,.ui-table-noborder td,.ui-table-noborder tr,.ui-table-noborder th{border:none;outline:none;}
.ui-table-noborder .ui-table-split,.ui-table-noborder .ui-table-hover{background-color:#f7f7f7;}
.ui-table-inbox{border:none;outline:none;}
