.jPaginate{position:relative;height:34px;padding:0 150px 0 205px;}
.jPaginate a{float:left;cursor:pointer;margin:0 2px;padding:6px 11px 7px 11px;}
.jPag-itemCount{position:absolute;top:8px;left:-197px;float:left;width:200px;text-align:right;}
.jPag-control-back{position:absolute;left:5px;}
.jPag-control-front{position:absolute;top:0;}
.jPaginate span{cursor:pointer;}
.jPag-pages{float:left;list-style-type:none;margin:0;padding:0;}
.jPag-pages li{display:inline;float:left;margin:0;padding:0;}
.jPag-current{float:left;cursor:default;margin:0 2px;padding:6px 11px 7px 11px;}
.jPag-pages .jPag-previous,.jPag-pages .jPag-next,.jPag-sprevious,.jPag-snext,.jPag-pages .jPag-previous-img,.jPag-pages .jPag-next-img,.jPag-sprevious-img,.jPag-snext-img{float:left;margin:0 2px;padding:6px 11px 7px 11px;}
.jPag-pages .jPag-previous,.jPag-pages .jPag-previous-img{width:10px;margin:0 2px;}
.jPag-pages .jPag-next,.jPag-pages .jPag-next-img{width:10px;margin:0 2px;}
.jPag-sprevious,.jPag-sprevious-img{margin:0 2px;text-align:right;}
.jPag-snext,.jPag-snext-img{margin:0 2px;text-align:right;}
.jPag-pages .jPag-previous-img{background:transparent url(../../../../images/js/paginate/previous.png) no-repeat center right;}
.jPag-pages .jPag-next-img{background:transparent url(../../../../images/js/paginate/next.png) no-repeat center left;}
.jPag-sprevious-img{background:transparent url(../../../../images/js/paginate/sprevious.png) no-repeat center right;}
.jPag-snext-img{background:transparent url(../../../../images/js/paginate/snext.png) no-repeat center left;}
