@charset "utf-8";/*! 
 * @name: astro
 * @overview: astro
 * @author: tbrweb@gmail.com
 * @create: 2014-01-09
 * @revise: 2014-03-15
 */.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}.clearfix:after{clear:both}.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}